# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore IntelliJ decompiled stub files if they end with .decompiled
*.decompiled
*decompiled.java
/out/
/build/


